@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{
  --white: #fff;
  --black: #1D1D1B;
  --blue: #313DDD;
  --yellow: #E8F043;
}

*{  /** Afecta a todos los elementos en la página **/
    font-family: Outfit, sans-serif;
    color: var(--black);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline:none; border:none;
    text-decoration: none;
  }



        /** MENÚ**/
        
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5em 15%;
            position: relative;
        }

        .logo {
            width: 150px;

        }

        .menu-toggle {
            display: none;
            font-size: 2rem;
            background: none;
            border: none;
            cursor: pointer;
            z-index: 1000;
        }
  

        .enlaces {
            border: 1px solid black;
            border-color: var(--blue);
            border-radius: 30px;
            padding:10px 45px;
        }

        nav ul {
            list-style: none;
            display: flex;
            gap: 20px;

        }

        nav a {
            text-decoration: none;
            color: var(--blue);
            font-weight: bold;
        }  


    nav.menu {
        display: block;
        }
    
        @media (max-width: 900px) {
        nav.menu {
            display: none;
            position: absolute;
            top: 100%;
            right: 0;
            background: var(--white);
                backdrop-filter: blur(15px);
            text-align: center;
            left: 0;
            width: 100vw;
            height: 100vh;
        }
    
        nav.menu.active {
            display: block;
        }
    
        .menu-toggle {
            display: block;
            font-size: 2rem;
            background: none;
            border: none;
            cursor: pointer;
        }
        
        .menu-toggle:hover {
            background-color: var(--white);
        }    
        
        .menu-toggle .icon{
            color: var(--blue);
        }
    
        nav ul {
            flex-direction: column;
            padding: 1em 0;
        }
    
        .enlaces {
            border: none;
            padding: 0;
            gap: 3em;
        }
        }

        .menu ul.enlaces li a:hover {
            background-color: #2D2EFF; 
            color: white;              
        }



        .galeria-pequena {
            display: flex;
            gap: 1em;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 2em 15%;
          }
          
          .galeria-pequena img {
            width: 30%;
            height: auto;
            border-radius: 8px;
          }
          
                @media (max-width: 768px) {
                    .galeria-pequena img {
                    width: 100%;
                    }
                }
          





.sobre-mi{
    padding: 0 15%;
    margin-bottom: 4em;
}


.contenido {
    display: flex;
    align-items: center;
    gap: 10%;
    padding: 0;
}

.imagen-placeholder {
    width: 45%;
    height: 250px;
    text-align: center;
}

            .imagen-placeholder img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

.texto {
    width: 45%;
    white-space: pre-line;
}

  
h2 {
    color: var(--blue);
    font-size: 2rem;
}

.email-contacto {
    letter-spacing: normal;
    word-spacing: normal;
    white-space: nowrap;
}

.estrella {
    color: var(--yellow);
    margin-right: 10px;
}

.correo {
    color: var(--blue);
    font-weight: 700;
}


                    @media screen and (max-width: 768px) {
                        .contenido {
                        flex-direction: column;
                        text-align: center;
                        }
                    
                        .imagen-placeholder,
                        .texto {
                        width: 100%;
                        }
                    
                        .imagen-placeholder {
                        height: auto; 
                        margin-bottom: 1.5em;
                        }
                    }


                .cintillo{
                    padding: 2em 0;
                }




        /* SECCIÓN DE CONTACTO */    

        .contacto {
            margin-top: 5em;
        }

        .titulodeseccion{
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    

        .formcontacto {
            display: flex;
            align-items: center;
            gap: 10%;
            padding: 6em 15%;
        }

        .escribeme {
            letter-spacing: normal;
            word-spacing: normal;
            white-space: nowrap;
            width: 20%;
        }

        .escribeme span{
            font-weight: 700;
            font-size: 1.5rem;
            color: var(--blue);
        }

        .estrellaicon {
            color: var(--yellow);
            font-size: 1.5rem;
        }

        .escribeme p {
            font-weight: 500;
        }




        /* Formulario de contacto */

        form {
            width: 80%;
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
        
        label {
            font-weight: 600;
            color: var(--blue);
            margin-bottom: 5px;
            font-size: 16px;
        }
        
        input,
        textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid var(--blue);
            border-radius: 10px;
            font-size: 12px;
            outline: none;
            transition: border-color 0.3s ease-in-out;
        }
        
        input:focus,
        textarea:focus {
            border-color: var(--blue);
        }
        
        textarea {
            resize: vertical;
            min-height: 100px;
        }
        
        .boton-container {
            margin-top: 1em;
            text-align: right;
            width: 100%;
        }
        
        button {
            background: var(--blue);
            color: var(--white);
            padding: 10px 25px;
            border: none;
            border-radius: 25px;
            cursor: pointer;
            font-size: 12px;
            transition: background 0.3s;
        }
        
        button:hover {
            background: #0056b3;
        }

                @media (max-width: 900px) {
                    .formcontacto {
                    flex-direction: column; 
                    padding: 2em 10%;       
                    gap: 2em; 
                    }
                
                    .escribeme {
                    width: 100%;
                    text-align: center;
                    }
                
                    form {
                    width: 100%;            
                    }
                
                    .boton-container {
                    text-align: center;
                    }
                }
          





        .dibujos {
            padding: 6em 15%;
        }

        img {
            width: 100%;
            display: block;
        }

        .categorias-proyecto {
            align-items: center;
            gap: 10%;
            padding: 6em 15%;
        }

        .intro-text {
            text-align: center;
            margin-bottom: 2em;
            background-color: var(--yellow);
            padding: 1em 0;
            font-weight: 600;
          }
          


        .gallery {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 20px;
          }
      
          .item {
            position: relative;
            overflow: hidden;
            cursor: pointer;
            border-radius: 30px;
          }
      
          .item img {
            width: 100%;
            height: auto;
            display: block;
            transition: transform 0.3s ease;
          }
      
          .item:hover img {
            transform: scale(1.1);
          }
      
          .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.6);
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            opacity: 0;
            transition: opacity 0.3s ease;
            padding: 20px;
          }

          .overlay h3 {
            font-size: 1.5rem;
            color: white;
            text-align: center;
          }
          
          .item:hover .overlay {
            opacity: 1;
          }
          
      

                /** DESCRIPCIÓN DE PROYECTO **/

                .descripcion-proyecto{
                    align-items: center;
                    text-align: center;
                    margin-bottom: 2em;
                }

                .descripcion-proyecto h3 {
                    margin-bottom: 0.5em;
                    color:var(--blue);
                  }   

                h3{
                    color: var(--blue);
                    font-size: 1.5em;
                }

                .descripcion-proyecto p {
                    margin-bottom: 2em;
                }

                .resaltado {
                    background-color: var(--yellow);
                    color: var(--blue);
                    padding: 0.5em 0.5em;
                    border-radius: 0.5em;
                    font-weight: 700;
                    display: inline-block;
                    margin-bottom: 1em;
                }



                  
                  
          






















        /* FOOTER */    

        footer {
            background-color: var(--white);
            padding: 3em 15%;
            position: relative;
        }
        
        .linea-footer {
            width: 100%;
            height: 2px;
            background-color: var(--blue); /* Color de la línea */
            margin-bottom: 10px; /* Espaciado entre la línea y el contenido */
        }
        
        .footer-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 1.5rem;
        }

        .footer-content p {
            color: var(--blue);
        }

        .footer-content strong {
            color: var(--blue);
        }

        .fi.fi-brands-instagram {
            color: var(--blue);
        }
        








        /* Sección del juego */

        .caja-juego {
            display: flex;
            flex-wrap: wrap;
            padding: 2em 15%;
            margin: 2rem 0;
            align-items: center;
            gap: 1.5rem;
          }
          
          .imagen-juego {
            max-width: 45%;
            width: 100%;
            border-radius: 12px;
          }
          
          .contenido-juego {
            flex: 1;
            width: 50%;
            min-width: 250px;
          }
          
          .titulo-juego {
            font-size: 1.8rem;
            color: var(--blue);
            margin-bottom: 0.5rem;
          }
          
          .descripcion-juego {
            font-size: 1rem;
            margin-bottom: 1rem;
          }
          
         
          .boton-jugar {
            background: var(--blue);
            color: var(--white);
            padding: 10px 25px;
            border: none;
            border-radius: 25px;
            cursor: pointer;
            font-size: 12px;
            align-self: flex-start;
            }
        
            .boton-jugar :hover {
                background: #0056b3;
            }


                        @media (max-width: 768px) {
                            .caja-juego {
                            flex-direction: column; /* cambia a vertical */
                            align-items: center;
                            text-align: center;
                            }
                        
                            .imagen-juego,
                            .contenido-juego {
                            max-width: 100%;
                            width: 100%;
                            }
                        
                            .boton-jugar {
                            align-self: center;
                            }
                        }
              





        /* Sección del juego */
        .juego {
            margin-top: 5em;
        }







.desconten {
    display: flex;
    gap: 100px; /* Espacio entre los divs */
    justify-content: center; /* Centra los divs horizontalmente */
    align-items: stretch; /* Asegura que ambos div tengan la misma altura */
    padding:3em 15%;

}

.contenedordesc {
    position: relative;
    display: flex;
    align-items: flex-start; /* Asegura que la estrella y el contenido estén alineados arriba */
    gap: 10px; /* Espacio entre la estrella y el texto */
    width: 250px; /* Asegura que ambos div tengan el mismo ancho */
    min-height: 150px; /* Mantiene una altura mínima para ambos div */
    border-radius: 10px;
}

/* Posición de la estrella */
.estrella-p {
    position: absolute;
    left: -20px; /* Ajusta la posición a la izquierda */
    top: 0;
    font-size: 16px;
    color: var(--yellow);
}

.titulo{
    color: var(--blue);
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 17px;
}

/* Contenedor de la descripción */
.descripcion {
    display: flex;
    flex-direction: column;
    flex: 1; /* Permite que la descripción ocupe todo el espacio disponible */
}


iframe {
    border-radius: 16px;
    border: 1em;
    border-color: var(--blue);
    padding: 1em 15%;
  }
  







.boton {
    background: var(--blue);
    color: var(--white);
    padding: 10px 25px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 12px;
    align-self: flex-start;
}

.boton:hover {
    background: #0056b3;
}

.fi .fi-rr-arrow-small-right {
    color: var(--white);
}


